In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
data.values

array([1, 2, 3, 4, 5])

In [7]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
data[0]
data[1:3]

1    2
2    3
dtype: int64

In [13]:
data[-1:]

4    5
dtype: int64

In [16]:
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
data['c']

3

In [18]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
data
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [19]:
series_1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5)) 
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [24]:
df.index
df.columns
df['column_1']
df['column_1']['a']

1

In [25]:
data = df.iloc[2, 1]
data

13

In [34]:
data = {
    'column_1': [1, 2],
    'column_2': [11, 12],
    'column_3': [21, 22]
}

df = pd.DataFrame(data, index=['a', 'b'])
print(df)

   column_1  column_2  column_3
a         1        11        21
b         2        12        22